#lights {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999 !important;
    background: var(--bg-dark);
    pointer-events: none;
    /* Place behind other content */
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    /* Remove whitespace */
}