.liquid-ether-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: -1;
    /* Place behind content if used as background */
}